* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

#title {
  text-align: center;
}

#subtitle {
  text-align: center;
}

#details {
  text-align: center;
}

.iconAndButtonGridContainer {
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-template-columns: repeat(6, 8rem);
  column-gap: 3rem;
  row-gap: 1.3rem;
}

.iconGridContainer .roleIcon {
  align-items: center;
}

.roleBtn {
  font-size: 2rem;
  background-color: #c2fcf2;
}

.championCardContainer {
  display: flex;
  margin-top: 3rem;
  flex-wrap: wrap;
}

.championCardContainer {
}
