* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

#title {
  text-align: center;
}

#subtitle {
  text-align: center;
}

#details {
  text-align: center;
}

.iconGridContainer {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(6, 8rem);
}

.iconGridContainer .roleIcon {
  justify-content: center;
}
